[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
xlrd = "*"
pendulum = "*"
django-filter = "*"
djangorestframework = "*"
markdown = "*"
django = "*"
black = "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
